# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Keil intermediate files:
**/Ext_SDRAM
**/*.dep
Ranger/Control/LPC3250_Main_Brain/current/LPC3250_main_brain.Opt
Ranger/Control/LPC3250_Main_Brain/current/LPC3250_main_brain_Opt.Bak

# LabVIEW test logs:
**/Test-*.txt

# Matlab autosave
**/*.m~
**/*.asv
Ranger/Control/LPC3250_Main_Brain/current/LPC3250_main_brain.Uv2
